.navbar-brand {
  padding: 0.5rem 1rem;
}

.navbar-brand {
  color: #000000;
  font-weight: bold;
}

.nav-link {
  color: #000000;
  text-decoration: none;
  background-color: transparent;
}

.nav-link.active {
  font-weight: bold;
}
